<DOCTYPE html>
<html xmlsn:th="https://www.thymeleaf.org" lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Lista de Disciplinas</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="mt-5">
	<h2 class="container text-center">Lista de Disciplinas</h2>
	<table class="table table-bordered table-striped mt-3 container text-center">
		<thead>
			<tr>
				<th>ID</th><th>Nome da Disciplina</th><th>Atualizar</th><th>Apagar</th>
			</tr>
		</thead>
		<tbody th:each="disciplina : ${disciplinas}">
			<td th:text="${disciplina.id}"></td>
			<td th:text="${disciplina.nome}"></td>
			<td>
				<a th:href="@{/disciplinas/editar/{id} (id=${disciplina.id})}" class="btn btn-warning sm-5">Editar</a>
			</td>
			<td>
				<form>
					<!--<input type="hidden" name="_method" value="delete"/>-->
					<button type="submit" class="btn btn-danger sm-5">Excluir</button>
				</form>
			</td>
		</tbody>
	</table>
	<div class="container text-center">
		<a th:href="@{/cadastrar/disciplina}" class="btn btn-primary">Cadastrar Nova Disciplina</a>
	</div>
	</body>
</html>