<!DOCTYPE html>
<html xmlsn:th="https://www.thymeleaf.org" lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Sistema da Faculdade</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="mt-5">
	<h2 class="container text-center">Lista de Funcionalidades</h2>
	<div class="row">
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Alunos:</h5>
			<a th:href="@{/alunos}" class="btn btn-primary">Lista de Alunos</a>
		</div>
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Cadastrar um Novo Aluno:</h5>
			<a th:href="@{/cadastrar/aluno}" class="btn btn-success">Novo Aluno</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Cursos:</h5>
			<a th:href="@{/cursos}" class="btn btn-primary">Lista de Cursos</a>
		</div>
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Cadastrar um Novo Curso:</h5>
			<a th:href="@{/cadastrar/curso}" class="btn btn-success">Novo Curso</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Disciplinas:</h5>
			<a th:href="@{/disciplinas}" class="btn btn-outline-dark">Lista de Disciplinas</a>
		</div>
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Cadastrar uma Nova Disciplina:</h5>
			<a th:href="@{/cadastrar/disciplina}" class="btn btn-outline-secondary">Nova Disciplina</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Professores:</h5>
			<a th:href="@{/professores}" class="btn btn-dark">Lista de Professores</a>
		</div>
		<div class="col-6 container text-center">
			<h5 class="mt-3 mb-3">Cadastrar um Novo Professor:</h5>
			<a th:href="@{/cadastrar/professor}" class="btn btn-secondary">Novo Professor</a>
		</div>
	</div>
	<br><br>
	</body>
</html>